<div id="main_page" class="page">

  <div class="page_header">
    <div class="container">
    <div class="row">
      <div class="logo col-10">
        <img src="../assets/img/logo+name+lg.png" alt="Edwyn Batista">
      </div>
      <div class="icon col-2">
        <a href="https://github.com/Edwyn-Gamagora2017" target="_blank"><img src="../assets/img/icons/github_white.png" alt="github"></a>
        <a href="https://linkedin.com/in/edwyn-batista" target="_blank"><img src="../assets/img/icons/linkedin_white.png" alt="linkedin"></a>
      </div>
    </div>
    </div>
  </div>

  <div class="page_center container">
    <div class="page_content row">
      <div class="central_info col-9">

        <!-- Categorie -->
        <div class="categorie">
          <div class="categorie_title">
            <p>Artificial Intelligence</p>
          </div>
          <div class="categorie_content">

            <div class="selectedItem row" [ngClass]="{'selectedItem_invisible': !isSelectedCategorie(0)}">

              <div class="images col-6">

                <div id="carousel_item_0_0" class="carousel slide" data-ride="carousel" data-interval="2000">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block" src="../assets/img/projects/astar_sample.png" alt="">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block" src="../assets/img/projects/flocking_sample.png" alt="">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block" src="../assets/img/projects/genetic_sample.png" alt="">
                    </div>
                    <!--<div class="embed-responsive embed-responsive-4by3 carousel-item">
                      <iframe class="d-block embed-responsive-item" src="https://www.youtube.com/watch?v=C4lg8a-40xs"></iframe>
                    </div>-->
                  </div>
                </div>

                <div class="miniatures">
                  <img src="../assets/img/projects/astar_sample.png" alt=""
                  data-target="#carousel_item_0_0" data-slide-to="0">
                  <img src="../assets/img/projects/flocking_sample.png" alt=""
                  data-target="#carousel_item_0_0" data-slide-to="1">
                  <img src="../assets/img/projects/genetic_sample.png" alt=""
                  data-target="#carousel_item_0_0" data-slide-to="2">
                  <a href="https://www.youtube.com/watch?v=C4lg8a-40xs" target="_blank">
                    <img src="../assets/img/projects/genetic_sample.png" alt="">
                  </a>
                </div>
              </div>

              <div class="info col-6">
                <div class="row"><div class="cell col-12 title">Title</div></div>
                <div class="row"><div class="cell col-12 desc">Description</div></div>
                <div class="row">
                  <div class="cell col-3 label">Key points:</div>
                  <div class="cell col-9 content"></div>
                </div>
                <div class="row">
                  <div class="cell col-3 label">Tools:</div>
                  <div class="cell col-9 content"></div>
                </div>
                <div class="row">
                  <a class="cell col-6 playit icon" href="https://github.com/Edwyn-Gamagora2017" target="_blank">
                    Play it!
                  </a>
                  <a class="cell col-6 icon" href="https://github.com/Edwyn-Gamagora2017" target="_blank">
                    Repository
                    <img src="../assets/img/icons/github.png" alt="github">
                  </a>
                </div>
              </div>

              <div class="close">
                <img src="../assets/img/icons/close.ico" alt="" (click)="selectItem(-1,-1)">
              </div>

            </div>

            <div class="listItem row" [ngClass]="{'list_invisible': isSelectedCategorie(0)}">

              <div class="item col-4" (click)="selectItem(0,0)">
                <img src="../assets/img/projects/astar_sample.png" alt="A star">
                <div class="item_label">
                  <p class="title">A star</p>
                  <p class="description">Description</p>
                </div>
              </div>

              <div class="item col-4" (click)="selectItem(0,1)">
                <img src="../assets/img/projects/flocking_sample.png" alt="Flocking">
                <div class="item_label">
                  <p class="title">Flocking</p>
                  <p class="description">Description</p>
                </div>
              </div>

              <div class="item col-4" (click)="selectItem(0,2)">
                <img src="../assets/img/projects/genetic_sample.png" alt="Genetic">
                <div class="item_label">
                  <p class="title">Genetic</p>
                  <p class="description">Description</p>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- END Categorie -->

      </div>
      <div class="lateral_info col-3">
        <app-whoiam></app-whoiam>
      </div>

      <div id="footer_contact" class="page_footer col-12">
        <a class="item" href="https://github.com/Edwyn-Gamagora2017" target="_blank">
          <img src="../assets/img/icons/github_red.png" alt="github">
          <p>GitHub</p>
        </a>
        <a class="item" href="https://linkedin.com/in/edwyn-batista" target="_blank">
          <img src="../assets/img/icons/linkedin_red.png" alt="linkedin">
          <p>LinkedIn</p>
        </a>
        <span class="item">
          <img src="../assets/img/icons/email_red.png" alt="email">
          <p>edwynbatista@gmail.com</p>
        </span>
      </div>
                <!--<div class="logo col-3">
            <img src="../assets/img/logo+name+lg_gray.png" alt="Edwyn Batista">
          </div>-->
    </div>
  </div>

</div>