<div id="main_page" class="page">

  <div class="page_header">
    Header
  </div>

  <div class="page_center container">
    <div class="page_content row">
      <div class="central_info col-8">

        <div class="categorie">
          <div class="categorie_title">
            <p>Artificial Intelligence</p>
          </div>
          <div class="categorie_content">
            <div class="selectedItem">
            </div>
            <div class="listItem container">
              <div class="row">

                <div class="item col-4">
                  <img src="../assets/img/projects/astar_sample.png" alt="A star">
                  <span class="item_label">A star</span>
                </div>
                
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="lateral_info col-4">
        EEEE
      </div>
    </div>
  </div>

  <div class="page_footer">
    Footer
  </div>

</div>