<div>
	<p>
		Welcome!
	</p>
	<span>
		This website is a short presentation of my experiences involving Computing, Games and Education.<br>
		Fell free to visit my <a class="inline_link" href="#footer_contact">gitHub</a> repositories and <a class="inline_link" href="#footer_contact">linkedIn</a> page in order to get some extra information. Or send me an email with your impressions, suggestions, questions etc.<br>
    	I hope you enjoy it [ as much as I did ;) ]
	</span>

	<p>
		Who I am
	</p>
	<img class="photo" src="../../assets/img/photo_blur.png">
	
	<span>
		Master's degree student in Video Games development (Master 2 - Gamagora - Univ Lyon 2).
		<p>
			Next Objective
		</p>
		With the aim of developing the skills acquired during the formation in the video game subjects, I am currently searching for an internship during the period of May-September 2018.
		<p>
			Formation
		</p>
		Bachelor in Computer Science (UFRN - Brazil/2015)
	</span>
</div>
