p{
	font-weight: bold;

	border-width: 3px 0;
	border-color: white;
	border-style: solid;

	margin: 20px 10px;
}

img{
	display: block;
	width: 60%;
	margin: 10px auto;
	border-width: 10px;
	border-color: white;
	border-style: solid;
}

span p{
	color: gray;
	border-width: 2px 0;
}